*{
	margin: 0;
	padding: 0;
}

body {
  color: #333333;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to left top, #63ace5, #a1b1eb, #cdb8e9, #ecc3e3, #ffd1e0) fixed;
  animation: pulse 2.5s;
}

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

a {
  color: #333333;
}

a:hover {
  color: white;
}

p {
  font-size: 18px;
  white-space: pre-line;
}

.yieldr-page p {
  white-space: normal;
}

span, h6, .proj-description p {
  font-family: 'Lato', sans-serif;
}

hr {
  margin-top: 0;
  border-color: white;
}

.hr1 {
  margin: 0;
}

.hr-cv {
  margin-top: 2em;
}

.yer, .title {
  display: inline-block;
}

.title, .contact {
  padding-top: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
}

.title.no-top {
  padding-top: 0;
}

.contact {
  padding-top: 0;
}

/*LOGO*/
#logo{
	width: 28%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*NAV*/
#homebtn, #cvtbn, #cv-mob, #workbtn {
	background-color: transparent;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

#homebtn:hover, #cvtbn:hover, #cv-mob:hover, #workbtn:hover {
  color: white;
}

#cvtbn, #cv-mob {
  display: none;
}

.nav-bar.right {
  float: right;
  padding-top: 21px;
}

.hover-underline-menu {
  float: right;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

/*TYPED*/
.section-typed {
  margin: 2em auto 3em auto;
}

.type-wrap{
  padding:10px;
  border-radius:5px;
  border:#fff 1px solid;
}

#typed {
  white-space: pre;
  font-size: 24px;
}

figure, figure img {
  border-radius: 3px;
}

/*ICONS*/
.icon-list i {
  display: inline;  
  font-size: 3rem;
  text-decoration: none;
  color: #333333;
  padding: 2%;
}

.icon-list i:hover{
  color: white;
}

.yero {
  display: inline-block;
  color: #333333;
  font-size: 12px;
  opacity: 0.1;
}

.yero:hover {
  color: white;
}

.last{
  margin-left: 400px;
}

[type=text], textarea {
  border-radius: 5px;
}

[type=text]:focus, textarea:focus {
  border-color: #333333;
}

/* submit button  */
.button.expanded{ 
  margin-top: 2em;
  background-color: #333333;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.button.expanded:hover {
  background-color: white;
  color: #333333;
}

/*WORK PAGE*/
.nav-whole {
  margin-bottom: 2em;
}

.work-row {
  padding-bottom: 60px;
}

.yieldr-hr {
  margin-top: 3em;
}

p.hover-text {
  margin-bottom: 8px;
  text-align: center;
}

.spotify-page h5.hover-text {
  margin-top: 8px;
  text-align: center;
}

p.visit-text {
  font-weight: bold;
}

.spotify-hr {
  margin: 2em auto;
}

.display {
  height: 475px;
  margin: 2em auto;
}

.img-div {
  text-align: center;
}

.moreinfo {
  margin-bottom: 2em;
}

.moreinfo .icon-list i {
  padding-bottom: 0;
}

.proj-nav {
  position: relative;
  height: inherit;
}

.gifnav {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 3em;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  color: white;
  font-size: 3em;
}

.gifnav:hover {
  color: #333333;
}

.gifnav#right {
  float: right;
}

.gifarea{
  height: 475px;
}

video {
  width: 100%;
  height: inherit;
}

.mob-vid-gif {
  display: none;
}

.gifarea img{
  height: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.moreinfo {
  text-align: center;
}  


/*CV page*/
.cvbox{
  display: inline-flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cvtext {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  padding-left: 20px;
  padding-right: 60px;
  width: 100%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

ul {
list-style-type: none;
}

ul.highlights li {
    font-family: "Roboto Mono", monospace;
    padding-right: 20px;
    width: 100%;
    font-size: 16px;
    line-height: 1.6em;
    color: #eee;
}

ul.highlights .description {
  width: 85%;
  margin-top: 0.8em;
}

.indicator {
    display: block;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 300px;
}

.work {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 700;
    line-height: 22px;
    color: #eee;
    text-transform: uppercase;
}

.edu {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 700;
    line-height: 22px;
    color: #eee;
    text-transform: uppercase;
}

.company {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.date {
    float: right;
}

.divider {
    height: 20px;
}

.pdf-div.column:last-child {
  float: none;
  margin: 0 auto;
}

#pdf-button {
  background-color: rgba(0, 0, 0, 0.6);
}
#pdf-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/*CV SCRIPT*/
pre {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 600px;
}

code.javascript {
  border-color: white;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: 0 auto;
  color: white;
}

.hljs-number {
  color: whitesmoke !important;
}

/*Image effects*/
/* Zoom Out #1 */
.shine1 img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom figure img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .3s ease-in-out;
  transition: .5s ease-in-out;
}
.zoom figure:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.proj-span {
  position: relative;
  bottom: -20px;
  left: 0;
  display: block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}
figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
figure:hover+span {
  bottom: -16px;
  opacity: 1;
}

/* Shine */
.shine1 figure {
position: relative;
}
.shine1 figure::before {
position: absolute;
top: 0;
left: -75%;
z-index: 2;
display: block;
content: '';
width: 50%;
height: 100%;
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
-webkit-transform: skewX(-25deg);
transform: skewX(-25deg);
}
.shine1 figure:hover::before {
-webkit-animation: shine .75s;
animation: shine .75s;
}
@-webkit-keyframes shine {
100% {
  left: 125%;
}
}
@keyframes shine {
100% {
  left: 125%;
}
}

/*COPYRIGHT NOTICE*/
.copyright {
  margin: 3em auto 1em auto;
}

.copyright h6{
  text-align: center;
}

/* MEDIA QUERIS*/

@media (min-width: 1024px) and (max-width: 1111px) {
  .nav-bar.right {
    padding-top: 14px;
  }
  .display {
    margin: 0;
  }
  .moreinfo {
    margin-top: 2em;
  }
  .proj-description {
    margin-bottom: 2em;
  }
}

@media (min-width: 768px) {
  #cvtbn {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .nav-bar.right {
    padding-top: 9px;
  }
  .zoom {
    padding-bottom: 3em;
  }
  .work-row {
    padding-bottom: 10px;
  }
  .proj-span {
    opacity: 1;
    bottom: -10px;
  }
  .display, .gifarea {
    height: 310px;
  }
  p.hover-text, h5.hover-text {
    display: none;
  }
  p.visit-text {
    color: white;
  }
  .gifnav {
    margin-top: 2em;
  }
  .cvbox {
    display: block;
  }
  .cvbox pre {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .nav-bar.right {
    padding-top: 5px;
  }
  p {
    white-space: normal;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav-bar.right {
    float: right;
    padding-top: 5px;
  }
  #workbtn:hover {
    color: initial;
  }
  #logo {
    width: 60%;
  }
  .yer .title {
    display: none;
  }
  .proj-span {
    opacity: 1;
    font-size: 18px;
  }
  .work-row {
    padding-bottom: 10px;
  }
  .zoom {
    padding-bottom: 6em;
  }
  #cv-mob {
    display: block;
  }
  .display, .gifarea {
    height: 310px;
  }
  h4 {
    font-weight: 500;
  }
  p {
    white-space: normal;
  }
  p.text {
    font-size: 16px;
  }
  p.hover-text, h5.hover-text {
    display: none;
  }
  p.visit-text {
    color: white;
  }
  .cvbox {
    display: block;
  }
  .cvbox pre {
    width: 100%;
  }
  .type-wrap {
    height: 150px;
  }
  #typed {
    font-size: 40px;
    white-space: normal;
  }
  video {
    display: none;
  }
  .mob-vid-gif {
    display: inline-block;
  }
  #group-site .gif-area {
    height: 200px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .work-row {
    padding-bottom: 0;
  }
  .display, .gifarea {
    height: 175px;
  }
  .gifnav {
    position: absolute;
    margin-top: 0;
  }
  .proj-nav {
    padding: 0 5px;
  }
  .contact-section .menu {
    margin-bottom: 2em;
  }
  h4 {
    margin-bottom: 16px;
  }
  .proj-description h6 {
    font-size: 18px;
  }
  h4, p.title {
    font-size: 22px;
  }
  p.text {
    font-size: 18px;
  }
}

@media (max-width: 424px) {
  .type-wrap {
    height: 133px;
  }
  #typed {
    font-size: 34px;
  }
  .gifnav#right {
    left: 0;
  }
}

@media (max-width: 374px) {
  .type-wrap {
    height: 110px;
  }
  #typed {
    font-size: 28px;
  }
  .gifnav#right {
    left: 0;
  }
}