*{
	margin: 0;
	padding: 0;
}

body {
  color: #333333;
  background-repeat: no-repeat;
  background-size: cover;
  background:linear-gradient(to top, #40e0d0 , #e0dab5) fixed;
  /* background:linear-gradient(to top, #3d3d3f , #6C6C6F) fixed;  */
  /* background:linear-gradient(to top, #FC756A , #E7B7CF) fixed;  */
  animation: pulse 3s;
  /* cursor: url(https://img.icons8.com/wired/64/000000/technology-items.png), auto; */
}

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* .nav-whole {
  position: fixed;
} */

a {
  color: #333333;
}

a:hover {
  color: white;
}

hr {
  margin-top: 0;
  border-color: white;
}

.hr1 {
  margin: 0;
}

.hr-cv {
  margin-top: 2em;
}

.yer, .title {
  display: inline-block;
}

.title, .contact {
  padding-top: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
}

.contact {
  padding-top: 0;
}

/* .title:hover {
  color: white;
  text-decoration: wavy underline white;
} */

/*LOGO*/
#logo{
	width: 28%;
	/* height: 20%; */
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*NAV*/
#homebtn, #cvtbn, #cv-mob, #workbtn {
	background-color: transparent;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

#homebtn:hover, #cvtbn:hover, #workbtn:hover {
  color: white;
}

#cvtbn, #cv-mob {
  display: none;
}

.nav-bar.right {
  /* float: right; */
  padding-top: 21px;
  /* padding-left: 1.8em; */
}

.hover-underline-menu {
  float: right;
}

/* .hover-underline-menu .menu {
  width: 50%;
} */

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

/*TYPED*/
.section-typed {
  margin: 2em auto 3em auto;
}

/* .section-typed  h4 {
  margin-block-end: 0;
} */

.type-wrap{
  padding:10px;
  border-radius:5px;
  border:#fff 1px solid;
}

#typed {
  white-space: pre;
  font-size: 22px;
}

figure, figure img {
  border-radius: 3px;
}

/*ICONS*/
.icon-list i {
  display: inline;  
  font-size: 3rem;
  text-decoration: none;
  color: #333333;
  padding: 2%;
}
.icon-list i:hover{
  color: white;
}

.yero {
  display: inline-block;
  color: #333333;
  font-size: 12px;
  opacity: 0.1;
}

.yero:hover {
  color: white;
}

/* .fi-social-linkedin{
  font-size: 3.4rem;
  color: white;
}
.fi-social-linkedin:hover{
    color: #d7dab6;
} */

.last{
  margin-left: 400px;
}

[type=text], textarea {
  border-radius: 5px;
}

[type=text]:focus, textarea:focus {
  border-color: #333333;
}

/* submit button  */
.button.expanded{ 
  margin-top: 1em;
  background-color: #333333;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.button.expanded:hover {
  background-color: white;
  color: #333333;
}

/*WORK PAGE*/
/* .section-work {
  margin-top: 2em;
} */

/* .display {
  width: 100%;
} */

.nav-whole {
  margin-bottom: 2em;
}

.work-row {
  padding-bottom: 60px;
}

.yieldr-page .display {
  margin-top: 2em;
}

.yieldr-text {
  margin-top: 1em;
}

.yieldr-page .gifnav {
  position: relative;
  top: -240px;
}

.yieldr-hr {
  margin-top: 3em;
}

p.text {
  width: 90%;
}

p.hover-text {
  margin-top: 1em;
  margin-bottom: 8px;
  text-align: center;
}

p.visit-text {
  font-weight: bold;
}

.display2 {
  /* width: 100%; */
  margin-left: 33px;
}

.gifarea{
  display: inline;
}

.gifarea img{
  width: 91%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spotify-page .gifnav {
  position: sticky;
  top: 10px;
}

.gifnav {
  display: inline-block;
  color: white;
  font-size: 3em;
}

.gifnav:hover {
  color: #333333;
}

.moreinfo {
  text-align: center;
}  

.gifarea .yieldr-img {
  width: 95%;
  height: 470px;
}

/*  */

/*CV page*/
    .cvbox{
      display: inline-flex;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

  .cvtext {
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    padding-left: 20px;
    padding-right: 60px;
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
  }

    ul {
    list-style-type: none;
    }

    ul.highlights li {
        font-family: "Roboto Mono", monospace;
        padding-right: 20px;
        width: 100%;
        font-size: 16px;
        line-height: 1.6em;
        color: #eee;
    }

    .indicator {
        display: block;
        margin-top: 14px;
        margin-bottom: 14px;
        width: 300px;
    }

    .work {
        font-family: "Roboto Mono", monospace;
        font-size: 1em;
        font-weight: 700;
        line-height: 22px;
        color: #eee;
        text-transform: uppercase;
    }

    .edu {
        font-family: "Roboto Mono", monospace;
        font-size: 1em;
        font-weight: 700;
        line-height: 22px;
        color: #eee;
        text-transform: uppercase;
    }

    .company {
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
    }

    .date {
        float: right;
    }

    .divider {
        height: 14px;
    }

/*CV SCRIPT*/
pre {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 600px;
}

code.javascript {
  border-color: white;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: 0 auto;
  color: white;
}

.hljs-number {
  color: whitesmoke !important;
}

/*Image effects*/
/* Zoom Out #1 */
      .shine1 img{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .zoom img{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .zoom figure img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: .3s ease-in-out;
        transition: .5s ease-in-out;
      }
      .zoom figure:hover img {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      /* .column {
        margin: 15px 15px 0;
        padding: 0;
      } */

      /* .column::after {
        content: '';
        clear: both;
        display: block;
      } */
      /* .column div {
        position: relative;
        float: left;
        width: 300px;
        height: 200px;
        padding: 0;
      } */

      .proj-span {
        position: relative;
        bottom: -20px;
        left: 0;
        /* z-index: -1; */
        display: block;
        /* width: 300px; */
        /* margin: 0;
        padding: 0; */
        /* color: #444; */
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        opacity: 0;
      }
      figure {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      figure:hover+span {
        bottom: -16px;
        opacity: 1;
      }

      /* Shine */
    .shine1 figure {
      position: relative;
    }
    .shine1 figure::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
    .shine1 figure:hover::before {
      -webkit-animation: shine .75s;
      animation: shine .75s;
    }
    @-webkit-keyframes shine {
      100% {
        left: 125%;
      }
    }
    @keyframes shine {
      100% {
        left: 125%;
      }
    }

/*COPYRIGHT NOTICE*/
.copyright {
  margin: 3em auto 1em auto;
}

.copyright h6{
  color: white;
  text-align: center;
}

/* MEDIA QUERIS*/

@media (min-width: 1024px) and (max-width: 1111px) {
  .nav-bar.right {
    padding-top: 14px;
  }
}

@media (min-width: 768px) {
  #cvtbn {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .nav-bar.right {
    padding-top: 9px;
  }
  .zoom {
    padding-bottom: 3em;
  }
  .work-row {
    padding-bottom: 10px;
  }
  .proj-span {
    opacity: 1;
    bottom: -10px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-bar.right {
    padding-top: 5px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav-bar.right {
    float: right;
    padding-top: 5px;
  }
  #logo {
    width: 60%;
  }
  .yer .title {
    display: none;
  }
  .proj-span {
    opacity: 1;
    font-size: 18px;
  }
  .work-row {
    padding-bottom: 10px;
  }
  .zoom {
    padding-bottom: 6em;
  }
  #cv-mob {
    display: block;
  }
}

@media (max-width: 424px) {
  .type-wrap {
    height: 90px;
  }
  #typed {
    font-size: 20px;
    white-space: normal;
  }
}